# RH File
version.dll
UnityPlayer.dll
UnityCrashHandler64.exe
Texture2DDecoderNative.dll
PlantsVsZombiesRH.exe
GameAssembly.dll
dobby.dll
compile_time.txt
baselib.dll
PlantsVsZombiesRH_Data/*
*.log

# DEV Tools
PVZ_Hyper_Fusion_Dev_Tools.exe
PVZ_Hyper_Fusion_Dev_Tools.exe.config
translation_strings.json.bak
translation_strings.json.x

# Melon Loader File
AutoTranslator
MelonLoader
Plugins
UserData
UserLibs
Mods/README (AutoTranslator).md
Mods/XUnity.AutoTranslator.Plugin.MelonMod.dll
